<div class="contact">
	<h4>Contacto</h4>
	<ul>
		<li class="mail-icon"><a href="mailto:<%= email %>"><%= email %></a></li>
		<li class="skype-icon"><a href="<%= skype %>">Skype</a></li>
		<li class="twitter-icon"><a href="<%= twitter %>">Twitter</a></li>
	</ul>
</div>

<figure>
	<h3>Créditos</h3>
	<a href="<%= about_url %>"><img src="images/foto.jpg" alt="Foto raspbian" /></a>
	<figcaption>
		<a href="<%= about_url %>"><%= nombre %></a>, alias "raspbian"
	</figcaption>
</figure>

<div class="moto">
	Lanzado a conocer nuevas tecnologias y explorar nuevos horizontes para ir a donde nadie ha ido antes!
</div>

<!--
<div class="daVideo">
	<video width="560" height="315" controls>
		<source src="https://dl.dropboxusercontent.com/u/14561294/video_presentacion.mp4" type="video/mp4" />
	</video>
</div>
-->