<h3>Estadísticas</h3>

<ul class="statistics">
	<li>El número de preguntas : <strong><%= statistics.num_quizes %></strong></li>
    <li>El número de comentarios totales : <strong><%= statistics.num_comments %></strong></li>
    <li>El número medio de comentarios por pregunta : <strong><%= statistics.avg_comments %></strong></li>
    <li>El número de preguntas sin comentarios : <strong><%= statistics.num_quizes_no_comment %></strong></li>
    <li>El número de preguntas con comentarios : <strong><%= statistics.num_quizes_with_comment %></strong></li>
</ul>